.prose {
  --tw-prose-body: color-mix(in oklab, var(--foreground) 70%, transparent);
}

.prose
  :where(figure[data-rehype-pretty-code-figure]):not(
    :where(.not-prose, .not-prose *)
  ) {
  @apply my-6 first:mt-0 last:mb-0;
}
